[Unit]
Description=Jupyter Notebook

After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/jupyter-notebook --ip 0.0.0.0 --port 8080 --no-browser

[Install]
WantedBy=multi-user.target
